In [1]:
dataList = {}
class NIMTidakValid(Exception):
    pass

In [2]:
def tambahMaha():
    try:
        nim = input("Masukan NIM Mahasiswa (11 digit): ")
        if len(nim) != 11 or not nim.isdigit():
            raise NIMTidakValid("NIM harus terdiri dari tepat 11 digit angka.")
        
        nama = input("Masukan Nama Mahasiswa (min. 6 karakter): ")
        if len(nama) < 6:
            raise ValueError("Nama minimal 6 karakter.")

        alamat = input("Masukan Alamat Mahasiswa (min. 10 karakter): ")
        if len(alamat) < 10:
            raise ValueError("Alamat minimal 10 karakter.")

        kelas = input("Masukan Kelas Mahasiswa (TI23 / TI24): ").upper()
        if kelas not in ["TI23", "TI24"]:
            raise ValueError("Kelas harus 'TI23' atau 'TI24'.")

        dataList[nim] = [nama, alamat, kelas]
        print("Data berhasil ditambahkan!")
        
    except (NIMTidakValid,Exception,ValueError) as err:
        print("Terjadi kesalahan:", err)

In [3]:
def tampilMaha():
    if not dataList:
        print("Belum ada data mahasiswa.")
    else:
        print("\nData Mahasiswa:")
        for nim, info in dataList.items():
            print(f"NIM: {nim} | Nama: {info[0]} | Alamat: {info[1]} | Kelas: {info[2]}")

In [4]:
while True:
    print("\n=== MENU MAHASISWA ===")
    print("1. Tambah Data Mahasiswa")
    print("2. Tampilkan Semua Mahasiswa")
    print("3. Keluar")

    pilih = input("Pilih Menu (1/2/3): ")
    if pilih == "1":
        tambahMaha()
    elif pilih == "2":
        tampilMaha()
    elif pilih == "3":
        print("Keluar dari program.")
        break
    else:
        print("Input tidak valid.")

=== MENU MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Semua Mahasiswa
3. Keluar

Pilih Menu (1/2/3):  1
Masukan NIM Mahasiswa (11 digit):  123456789901

Terjadi kesalahan: NIM harus terdiri dari tepat 11 digit angka.

=== MENU MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Semua Mahasiswa
3. Keluar

Pilih Menu (1/2/3):  1
Masukan NIM Mahasiswa (11 digit):  12345678901
Masukan Nama Mahasiswa (min. 6 karakter):  Agnaya
Masukan Alamat Mahasiswa (min. 10 karakter):  Kecamatan Cicurug
Masukan Kelas Mahasiswa (TI23 / TI24):  TI24

Data berhasil ditambahkan!

=== MENU MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Semua Mahasiswa
3. Keluar

Pilih Menu (1/2/3):  2

Data Mahasiswa:
NIM: 12345678901 | Nama: Agnaya | Alamat: Kecamatan Cicurug | Kelas: TI24

=== MENU MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Semua Mahasiswa
3. Keluar

Pilih Menu (1/2/3):  3

Keluar dari program.